force-app/main/default/flows/Review_Recent_Workouts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Initialize_Summary</name>
        <label>Initialize Summary</label>
        <locationX>176</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>workoutSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Completed_Workouts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Workout_To_Summary</name>
        <label>Add Workout to Summary</label>
        <locationX>176</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>workoutSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Workout_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workoutCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Completed_Workouts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Workout_Limit</name>
        <label>Check Workout Limit</label>
        <locationX>176</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Limit Reached</defaultConnectorLabel>
        <rules>
            <name>Include_Workout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workoutCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Workout_To_Summary</targetReference>
            </connector>
            <label>Include Workout</label>
        </rules>
    </decisions>
    <description>Returns an Agentforce-friendly summary of the current user&apos;s five most recent completed workout sessions.</description>
    <formulas>
        <name>Summary_Header</name>
        <dataType>String</dataType>
        <expression>&quot;Recent completed workouts from Salesforce:&quot; &amp; BR()</expression>
    </formulas>
    <formulas>
        <name>Current_Workout_Line</name>
        <dataType>String</dataType>
        <expression>&quot;- &quot; &amp;
TEXT({!Loop_Completed_Workouts.Workout_Date__c}) &amp;
&quot; | Template: &quot; &amp;
BLANKVALUE({!Loop_Completed_Workouts.Workout_Template__r.Name}, &quot;Not recorded&quot;) &amp;
&quot; | Starting energy: &quot; &amp;
BLANKVALUE(TEXT({!Loop_Completed_Workouts.Energy_Level__c}), &quot;Not recorded&quot;) &amp;
&quot; | Outcome: &quot; &amp;
BLANKVALUE(TEXT({!Loop_Completed_Workouts.Workout_Outcome__c}), &quot;Not recorded&quot;) &amp;
&quot; | Would repeat: &quot; &amp;
IF({!Loop_Completed_Workouts.Would_Repeat__c}, &quot;Yes&quot;, &quot;No&quot;) &amp;
IF(
    ISBLANK({!Loop_Completed_Workouts.Workout_Notes__c}),
    &quot;&quot;,
    &quot; | Notes: &quot; &amp; {!Loop_Completed_Workouts.Workout_Notes__c}
) &amp;
BR()</expression>
    </formulas>
    <interviewLabel>Review Recent Workouts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Review Recent Workouts</label>
    <loops>
        <name>Loop_Completed_Workouts</name>
        <label>Loop Completed Workouts</label>
        <locationX>176</locationX>
        <locationY>392</locationY>
        <collectionReference>Get_Completed_Workouts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Workout_Limit</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Completed_Workouts</name>
        <label>Get Completed Workouts</label>
        <locationX>176</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Completed_Workouts</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Workout_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Workout_Session__c</object>
        <sortField>Workout_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>workoutCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>workoutSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
